<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="comment">
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>

    <div class="pt-5">
        <h3 class="mb-5"><span id="cmt_cnt"></span> Comments</h3>

<!--        <div class="comment-form-wrap pt-5" sec:authorize="hasAnyRole('ADMIN', 'MEMBER')">-->
        <div class="comment-form-wrap pt-5" >
            <h3 class="mb-5">Leave a comment</h3>
                <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" id="email">
                </div>

                <div class="form-group">
                    <label for="input_comment">Message</label>
                    <input type="text" name="message" id="input_comment" class="form-control">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-md" id="btn_comment">Send Comment</button>
                </div>
        </div>



        <ul class="comment-list" id="cmt_list">



        </ul>
    </div>






</th:block>


</html>